//- blog article template
extends layout

block meta
  if page.metadata.meta
    each content, name in page.metadata.meta
      meta(name= name, content= content)

block content
  //- social share urls
  - var twitter = 'http://twitter.com/intent/tweet?url=' + locals.domain + page.url + '&text=' + encodeURIComponent(page.title)
  - var facebook = 'http://www.facebook.com/sharer.php?u='+ locals.domain + page.url + '&t=' + encodeURIComponent(page.title)

  article.post
    header
      a(rel='self',href=page.url)
        h1= page.title
    footer
      time(datetime=page.date.toISOString())= moment(page.date).format('dddd MMMM Do, YYYY')
    aside.share
      ul.shareicons
        li(data-icon='t')
          a(href=twitter) tweet this
        li(data-icon='f')
          a(href=facebook) share this
    != type(page.html)
